<h1>New Survey</h1>

<form action="/surveys/new" method="post">
  <label for="title"></label>
  <input type="text" name="title" placeholder="Survey Title">
  <button class="btn btn-default" type="submit">Create Survey</button>
</form>
  <a class="btn btn-default" href="/">Back</a>
